
/*-----------Inicio barra nav--------------*/
.menu ul {
	font-family: 'Arial';
	list-style: none;

}
.menu a{
	text-decoration: none;
	color: #9bf0e1;
	}
.menu ul ul {
	position: absolute;
	visibility: hidden;
}

.menu ul li:hover ul{
	visibility: visible;
	background: rgba(0,0,0,0.5);
	
}

#esquerda {
	margin-left: auto;
	padding-right: 100px;
}
@media (max-width: 800px) {
	.menu ul li{
		width: 100%;
		float: none;
		text-align: center;
	}
	.menu ul ul{
		position: static;
		overflow:  hidden;
		max-height: 0;
		transition: all .4s;
	}
	.menu ul li:hover ul{
		height: auto;
		max-height: 300px;
	}
}

nav.nabar-transparente {
	background: rgba(0,0,0,0.5);
	padding: 15px 0px;

}

.navbar-light .navbar-nav .nav-link{
	color: #9bf0e1;
	
}
.navbar-light .navbar-nav .nav-link:hover {
	color: white;
	
}
.navbar-light .nav-toggler {
	color: rgba(255,255,255,.5);
	border-color: white;
}

@media (max-width: 720px) {
    body {
    background-image: url(../imagens/banner720.png);
	position: absolute;
    bottom: 0;
    left: 0;
	top: 0;
	right: 0;
	background-size: cover;
	background-position: center;
}
}
html, body, #home{
	height: 100%;
	width: 100%;

}

/*-----------Fim Layout--------------*/

@media (min-width: 800px) {
    body {
    background-image: url(../imagens/banner768.png);
	position: absolute;
   	bottom: 0;
	top: 0;
    left: 0;
    right: 0;
	background-size: cover;
	background-position: center;
}
}

@media (min-width: 992px) {
  	body {
    background-image: url(../imagens/banner992.png);
	position: absolute;
    bottom: 0;
	left: 0;
	top: 0;
	right: 0;
	background-size: cover;
	background-position: center;
}
}

@media (min-width: 1200px) {
   	body {
	background-image: url(../imagens/banner1200.png);
	position: absolute;
	left: 0;
    bottom: 0;
    right: 0;
	top: 0;
	background-position: center;
	background-size: cover;
}
}

.container {
	width: 100%;
}


.espaco {
  width: 100%;
  height: 500px;

}

.centro {
	text-align: center;
	color: 	#00008B;
}


@media (min-width: 992px) {
.espaco-branco {
	margin: 100px;
	margin-right: 10px;
	margin-left: 10px;
  	width: 100%;
  	height: 780px;
  	padding: 50px;
  	background: rgba(255,255,255,0.9);
  	
}

.rodape {
	flex-shrink: 0;
	color: white;
	padding: 30px;
	text-align: center;
	width: 100%;
	height: 100px;
	background-size: cover;
	background: white;
	background: rgba(0,0,0,0.9);
	padding: 15px 0px;


}
  
}

.img-alinhado {
	padding: 20px;
}

